@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #000000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-highlight: #5cd6ff;
    --color-bgcontact: #0067b1;
    --color-secondary: #00bfff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #ffffff;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Manrope", sans-serif;
}

.custom-scrollbar {
    overflow-y: auto;
    /*  border: 0px solid #000000 !important; */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    background-color: #ededed;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000 !important;
    border-radius: 1px;
    height: 10px; /* Reduced height for very short scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track-piece:start,
.custom-scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent !important;
    display: none !important;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none !important; /* Removes arrow buttons */
    height: 0 !important;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #00bfff !important; /* light gray or any color you prefer */
}
